body {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 24%, #00d4ff 64%);
  font-family: "Times New Roman";
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 180px;
}

.container input {
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  height: 30px;
}

.container button {
  height: 30px;
  width: 150px;
  border: none;
  background: white;
  border-radius: 20px;
}

.container label {
  font-size: 15px;
  color: white;
}

.div1 {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.div2 {
  position: relative;
  text-align: center;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
